/* ///////////////////////// Мобильные устройства ///////////////////////// */
@media screen and (max-width: 414px) and (orientation: portrait) {
  /* Вертикальная ориентация для мобильных устройств */
  body {
    background-size: auto 100%;
  }
  .linevert {
    overflow: hidden;
  }
  .header-text {
    height: 12vw;
    gap: 5vw;
  }
  .header-text-2,
  .header-text-3,
  .header-text-4,
  .header-text-5,
  .g1,
  .g2,
  .g3,
  .g4 {
    font-size: 3.5vw;
  }

  .header-3d,
  .model {
    height: 80vw;
  }

  .header-circle {
    height: 8vw;
  }

  .circle {
    width: 70vw;
    height: 4vw;
  }

  .window-1-main,
  .window-4-main {
    height: 25vw;
  }

  .image-container {
    height: 60vw;
    flex-direction: column;
  }

  .simvol {
    width: 90vw;
    height: 40vw;
  }

  .plashka1 {
    margin-top: 35vw;
    margin-left: 0;
    width: 45vw;
  }

  .visotki-text,
  .trud-text {
    font-size: 4.5vw;
    line-height: 5vw;
    text-align: center;
  }

  .trud-text {
    margin-left: 5vw;
  }

  .window-2-main {
    height: 90vw;
  }

  .box {
    margin-top: 20vw;
    height: 120vw;
  }

  .flo {
    width: 20%;
  }

  .plashka2 {
    margin-top: 25vw;
    margin-left: 50vw;
    width: 40vw;
  }

  .window-3 {
    height: 90vw;
  }

  .plashka3 {
    margin-left: 5vw;
    width: 45vw;
  }

  .linevert2 {
    height: 25vw;
    margin-top: 3vw;
  }

  .knopka {
    width: 70vw;
    height: 15vw;
  }

  .rules {
    font-size: 3.5vw;
  }

  .line-finish {
    height: 35vw;
    margin-top: 50vw;
    overflow: hidden;
  }

  .name-text,
  .surname-text {
    font-size: 3.5vw;
  }

  .attention-text {
    font-size: 7vw;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: landscape) {
  /* Горизонтальная ориентация для планшетов */
  .header-3d,
  .model {
    height: 40vw;
  }
  .image-container {
    height: 35vw;
  }

  .simvol {
    width: 70vw;
    height: 25vw;
  }

  .window-2-main {
    height: 50vw;
  }

  .box {
    height: 70vw;
  }

  .window-3 {
    height: 50vw;
  }
}

/* Общие стили для адаптации изображений */
.responsive-img {
  max-width: 100%;
  height: auto;
}

/* Уменьшаем курсор на мобильных устройствах */
@media (max-width: 768px) {
  #custom-cursor {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
}
